transformers
bitsandbytes
accelerate
# sentencepiece
tiktoken
sentence_transformers
prompt_toolkit
langchain
langsmith
pyYAML
regex
scikit-learn
scipy
sympy
torch
huggingface-hub
safetensors
numpy
pydantic
pydantic_core
pytorch_utils
smolagents
selenium
helium
pillow
openpyxl
pdf2image
pytesseract
tokenizers
